<!DOCTYPE html>
<html lang="en">

<head>
    <title>Play Date!</title>
</head>

<body>
    <h3 id="me">Player: {{ thisPlayer }}</h3>
    <div id="handDiv">
        <p id="handContainer"><b>Your hand:</b> <span id="hand">{{ hand }}</span></p>
    </div>
    <p><b>Other players:</b></p>
    <div id="players">
        {% for player in players %}
        <p id="{{ player.sid }}" class="player"><span class="name">{{ player.name }}</span></p>
        {% endfor %}
    </div>
    <p>Game Log:</p>
    <div id="log"
        style="overflow: scroll; width: 100%; height: 50%; position: fixed; border: 1px solid black; padding: 0px 8px; border-radius: 4px;">

    </div>
</body>

<script src={{ url_for('static', filename='jquery.min.js' ) }}></script>
<!-- Socket.IO for communication with the server -->
<script src={{ url_for('static', filename='socket.io.min.js' ) }}></script>

<script>
    const socket = io.connect('http://' + document.domain + ':' + location.port);

    const urlParts = window.location.href.split('/');
    const oldId = urlParts.pop() || urlParts.pop();
    let turn = '';
    let relationship = '';
    let mustGhost = [];

    // log function that adds a message to the log div
    function log(message) {
        $('#log').append($('<p>').text(message));
        $('#log').scrollTop($('#log')[0].scrollHeight);
    }

    // remove function that removes the first instance of an element from an array
    Array.prototype.remove = function () {
        var what, a = arguments, L = a.length, ax;
        while (L && this.length) {
            what = a[--L];
            while ((ax = this.indexOf(what)) !== -1) {
                this.splice(ax, 1);
            }
        }
        return this;
    };

    // emit id change
    socket.emit('change sid 2', { 'old': oldId });

    // when I get an sid change message
    socket.on('change sid', function (data) {
        // change the player's id
        $('#' + data.old).attr('id', data.sid);
    });

    // when I get the order message, remake the players div in that order
    socket.on('order', function (data) {
        // change the player's id
        $('#players').empty();
        const order = data.order;
        for (let i = 0; i < order.length; i++) {
            // if the player is not me
            if (order[i].sid != socket.id) {
                $('#players').append('<p id="' + order[i].sid + '" class="player"><span class="name">' + order[i].name + '</span></p>');
            }
        }
    });

    // when I get the turn message, change the turn
    socket.on('turn', function (data) {
        // remove the askterisk from the player who's turn it was if it wasn't me
        if (turn != socket.id && turn != '') {
            $('#' + turn).html($('#' + turn).html().replace(' *', ''));
        }

        turn = data.sid;

        // if it's not my turn, put an asterisk next to the player who's turn it is and remove the one next to me
        if (turn != socket.id) {
            $('#' + turn).append(' *');
            $('#me').text($('#me').text().replace(' *', ''));
        }

        // if it's my turn, add buttons next to other players' names that say "ask"
        if (turn == socket.id) {
            // Add an asterisk next to my name
            $('#me').append(' *');
            if (relationship.length > 0) {
                // Change the relationship message to say awaiting trust card
                $('#relationship').text('Awaiting trust card');
            } else if (mustGhost.length == 0) {
                $('.player').each(function () {
                    if (!mustGhost.includes($(this).attr('id'))) {
                        $(this).append(' <button id="askout' + $(this).attr('id') + '" class="askout">Ask on a date</button>');
                    }
                });
            }
        } else if (mustGhost.includes(turn)) {
            socket.emit('preghost', { 'target': turn });
            mustGhost.remove(turn);
        } else if (turn == relationship) {
            // add a trust card selection under the hand div
            $('#handDiv').append('<p class="trust">Select a trust card: </p>');
            // retrieve my hand as a list
            const hand = $('#hand').text().split(', ');
            const uniqueHand = [...new Set(hand)];
            // add a button for each trust card
            for (let i = 0; i < uniqueHand.length; i++) {
                $('#handDiv').append('<button id="trustcard' + uniqueHand[i] + '" class="trust ' + relationship + '">' + uniqueHand[i] + '</button>');
            }
        }

        log(data.log);
    });

    // when an askout button is clicked, emit an askout message
    $(document).on('click', '.askout', function () {
        socket.emit('ask out', { 'sid': $(this).attr('id').replace('askout', '') });
        // delete all ask out buttons
        $('.askout').remove();
        // add a pending message next to the player I just asked out
        $('#' + $(this).attr('id').replace('askout', '')).append('<span id="pending">Date requested...</span>');
        return false;
    });

    // when I get an ask out message, add buttons next to the player who asked me out
    socket.on('ask out', function (data) {
        if (data.target == socket.id) {
            if (relationship.length == 0) {
                $('#' + data.origin).append(' <button id="accept' + data.origin + '" class="accept dateRequest">Accept date request</button>');
            } else {
                // get the name of the relationship
                const relationshipName = $('#' + relationship + ' > .name').text();
                $('#' + data.origin).append(' <button id="accept' + data.origin + '" class="accept dateRequest mustGhost">Accept date request (ghost ' + relationshipName + ')</button>');
            }
            $('#' + data.origin).append(' <button id="reject' + data.origin + '" class="reject dateRequest">Reject date request</button>');
        }

        log(data.log);
    });

    // when an accept button is clicked, emit an accept message
    $(document).on('click', '.accept', function () {
        const sid = $(this).attr('id').replace('accept', '');
        socket.emit('accept', { 'sid': sid });
        if ($(this).hasClass('mustGhost')) {
            mustGhost.push(relationship);
            relationship = '';
            // replace in a relationship message with must ghost
            $('#relationship').text('Must ghost next turn');
        }
        // remove the button
        $(".dateRequest").remove();
        // add a date accepted message next to the player who's date I just accepted
        $('#' + $(this).attr('id').replace('accept', '')).append('<span id="accepted">Date accepted!</span>');
        return false;
    });

    // when a reject button is clicked, emit a reject message
    $(document).on('click', '.reject', function () {
        socket.emit('reject', { 'sid': $(this).attr('id').replace('reject', '') });
        // remove the button
        $(".dateRequest").remove();
        return false;
    });

    // when I get an accept message
    socket.on('accept', function (data) {
        // remove the pending message
        $('#pending').remove();
        // add a date message next to the player who accepted my request
        if (data.target == socket.id) {
            $('#' + data.origin).append('<span id="accepted">Date accepted!</span>');
        }

        if (data.target == socket.id || data.origin == socket.id) {
            // add a trust card selection under the hand div
            $('#handDiv').append('<p class="trust">Select a trust card: </p>');
            // retrieve my hand as a list
            const hand = $('#hand').text().split(', ');
            const uniqueHand = [...new Set(hand)];
            // add a button for each trust card
            const target = data.target == socket.id ? data.origin : data.target;
            for (let i = 0; i < uniqueHand.length; i++) {
                $('#handDiv').append('<button id="trustcard' + uniqueHand[i] + '" class="trust ' + target + '">' + uniqueHand[i] + '</button>');
            }
        }

        log(data.log);
    });

    // when a trust card button is clicked, emit a trust exchange message
    $(document).on('click', 'button.trust', function () {
        // get the target
        const target = $(this).attr('class').split(' ')[1];
        socket.emit('trust exchange', { 'card': $(this).text(), 'target': target });
        // add a message saying what trust card I sent next to target
        $('#accepted').text('Sent ' + $(this).text() + ' as a trust card');
        // remove the first instance of the selected trust card from the hand
        let hand = $('#hand').text().split(', ');
        delete hand[hand.indexOf($(this).text())];
        hand = hand.filter(e => e);
        $('#hand').text(hand.join(', '));
        // remove the trust card buttons
        $('.trust').remove();
        return false;
    });

    // when I get a reject message
    socket.on('reject', function (data) {
        // remove the pending message
        $('#pending').remove();

        log(data.log);
    });

    // when I get a trust exchange message
    socket.on('trust exchange', function (data) {
        if (data['target'] == socket.id) {
            // Add a p right after handContainer saying what trust card I received
            $('#handContainer').after('<p id="trustHand">Trust card: ' + data['card'] + '</p>');
            if (turn == socket.id){
                if (mustGhost.includes(data['origin'])) {
                    // emit a ghost message
                    socket.emit('ghost', { 'target': data['origin'] });
                    mustGhost.remove(data['origin']);
                    // Add the trust card to the hand
                    $('#hand').append(', ' + data['card']);
                    // Remove the trustHand
                    $('#trustHand').remove();
                    // remove the relationship
                    $('#relationship').remove();
                } else if (data['origin'] == relationship) {
                    // Remove the relationship message
                    $('#relationship').remove();
                    // Add two buttons next to the relationship saying "ghost" and "follow through"
                    $('#' + relationship).append(' <button id="ghost' + relationship + '" class="ghost">Ghost</button>');
                    $('#' + relationship).append(' <button id="followthrough' + relationship + '" class="followthrough">Follow through</button>');
                }
            }
        }

        if (turn == socket.id && $("#trustHand").length > 0 && $(".trust").length == 0 && $(".ghost").length == 0) {
            // Trust cards have been exchanged
            const so = data['target'] == socket.id ? data['origin'] : data['target'];
            // Add buttons next to so saying "ask on a second date" and "no second date"
            $('#' + so).append(' <button id="yessecond' + so + '" class="second">Ask on a second date</button>');
            $('#' + so).append(' <button id="nosecond' + so + '" class="second">No second date</button>');
        }

        log(data.log);
    });

    // when a second date button is clicked
    $(document).on('click', '.second', function () {
        // if it's a yes second date button
        if ($(this).attr('id').includes('yessecond')) {
            // figure out who the other player is
            const so = $(this).attr('id').replace('yessecond', '');
            socket.emit('second date invite', { 'target': so });
        } else {
            // if it's a no second date button
            // figure out who the other player is
            const so = $(this).attr('id').replace('nosecond', '');
            socket.emit('no second date', { 'target': so });
            // Remove accepted
            $('#accepted').remove();
            // send back the trust card
            const trust = $('#trustHand').text().replace('Trust card: ', '');
            socket.emit('return trust', { 'card': trust, 'target': so });
            // Delete the trust hand
            $('#trustHand').remove();
        }
        // remove the buttons
        $('.second').remove();
        return false;
    });

    // whe I get a no second date message
    socket.on('no second date', function (data) {
        if (data.target == socket.id) {
            // Remove accepted
            $('#accepted').remove();
            // send back the trust card
            const trust = $('#trustHand').text().replace('Trust card: ', '');
            socket.emit('return trust', { 'card': trust, 'target': data.origin });
            // Delete the trust hand
            $('#trustHand').remove();
            // remove the relationship
            $('#relationship').remove();
        }

        log(data.log);
    });

    // when I get a return trust message
    socket.on('return trust', function (data) {
        if (data.target == socket.id) {
            // Add the trust card to my hand
            $('#hand').append(', ' + data.card);
        }

        log(data.log);
    })

    // when I get a second date invite message
    socket.on('second date invite', function (data) {
        // add a button next to the player who sent me a second date invite
        if (data.target == socket.id) {
            // Add a accept and reject button
            $('#' + data.origin).append(' <button id="acceptsecond' + data.origin + '" class="secondresponse">Accept second date invite</button>');
            $('#' + data.origin).append(' <button id="rejectsecond' + data.origin + '" class="secondresponse">Reject second date invite</button>');
        }

        log(data.log);
    });

    // when a secondresponse button is clicked
    $(document).on('click', '.secondresponse', function () {
        // if it is an accept button
        if ($(this).attr('id').includes('accept')) {
            // whos second date invite I'm responding to
            const so = $(this).attr('id').replace('acceptsecond', '');
            // add a date accepted message next to the player who's second date I just accepted
            // remove any existing relationship message
            $('#relationship').remove();
            $('#' + so).append('<span id="relationship"> In a relationship</span>');
            relationship = so;
            // Get the value of the trust card
            const trust = $('#trustHand').text().replace('Trust card: ', '');
            socket.emit('accept second date', { 'target': so });
            // Add the trust card to the hand
            $('#hand').append(', ' + trust);
        } else {
            // whos second date invite I'm responding to
            const so = $(this).attr('id').replace('rejectsecond', '');
            // Get the value of the trust card
            const trust = $('#trustHand').text().replace('Trust card: ', '');
            socket.emit('reject second date', { 'target': so });
            // Return the trust card
            socket.emit('return trust', { 'card': trust, 'target': so });
        }
        // Remove the trustHand and accepted and secondresponse buttons
        $('#trustHand').remove();
        $('#accepted').remove();
        $('.secondresponse').remove();
        return false;
    });

    // when I get an accept second date message
    socket.on('accept second date', function (data) {
        if (data.target == socket.id) {
            // add a date accepted message next to the player who accepted my second date invite
            // remove any existing relationship message
            $('#relationship').remove();
            $('#' + data.origin).append('<span id="relationship"> In a relationship</span>');
            relationship = data.origin;
            // Get the value of the trust card
            const trust = $('#trustHand').text().replace('Trust card: ', '');
            // Add the trust card to the hand
            $('#hand').append(', ' + trust);
            // Remove the trustHand and accepted
            $('#trustHand').remove();
            $('#accepted').remove();
        }

        log(data.log);
    });

    // when I get a reject second date message
    socket.on('reject second date', function (data) {
        if (data.target == socket.id) {
            // Remove accepted
            $('#accepted').remove();
            // Get the value of the trust card
            const trust = $('#trustHand').text().replace('Trust card: ', '');
            // Return the trust card
            socket.emit('return trust', { 'card': trust, 'target': data.origin });
            // Remove the trustHand and accepted
            $('#trustHand').remove();
            $('#accepted').remove();
        }

        log(data.log);
    });

    // when a ghost button is clicked
    $(document).on('click', '.ghost', function () {
        // get the trust card
        const trust = $('#trustHand').text().replace('Trust card: ', '');
        // emit a ghost message
        socket.emit('ghost', { 'target': relationship });
        relationship = '';
        // Add the trust card to the hand
        $('#hand').append(', ' + trust);
        // Remove the trustHand
        $('#trustHand').remove();
        // remove the buttons
        $('.ghost').remove();
        $('.followthrough').remove();
        // remove the relationship
        $('#relationship').remove();
        return false;
    });

    // when a follow through button is clicked
    $(document).on('click', '.followthrough', function () {
        // get the trust card
        const trust = $('#trustHand').text().replace('Trust card: ', '');
        // emit a follow through message
        socket.emit('follow through', { 'target': relationship });
        // Show the trust card selection buttons
        // add a trust card selection under the hand div
        $('#handDiv').append('<p class="trust">Select a trust card: </p>');
        // retrieve my hand as a list
        const hand = $('#hand').text().split(', ');
        const uniqueHand = [...new Set(hand)];
        // add a button for each trust card
        for (let i = 0; i < uniqueHand.length; i++) {
            $('#handDiv').append('<button id="trustcard' + uniqueHand[i] + '" class="trust ' + relationship + '">' + uniqueHand[i] + '</button>');
        }

        // remove the buttons
        $('.ghost').remove();
        $('.followthrough').remove();
        return false;
    });

    // when I get a preghost message
    socket.on('preghost', function (data) {
        if (data.target == socket.id) {
            // remove the awaiting trust card message
            $('#relationship').remove();
            $('.player').each(function () {
                if ($(this).attr('id') != relationship) {
                    $(this).append(' <button id="askout' + $(this).attr('id') + '" class="askout">Ask on a date</button>');
                }
            });
            relationship = '';
        }

        log(data.log);
    });

    // when I get a ghost message, remove the relationship span
    socket.on('ghost', function (data) {
        if (data.target == socket.id) {
            $('#relationship').remove();
            relationship = '';
        }

        log(data.log);
    });

    // when I get a follow through message, log
    socket.on('follow through', function (data) {
        log(data.log);
    });

</script>

</html>